@using  Models;

@inject HttpClient Http;

<h1>Top Rated Movies</h1>

@if (movies == null)
{
    <div>Loading movies...</div>
}
else
{
    <div>
        @foreach (var movie in movies)
        {
            <MovieListItem movie=movie />
        }
    </div>
    <button @onclick(LoadMoreMovies)>Load more</button>
}

@functions {

List<Movie> movies;
int page = 1;

protected override async Task OnInitAsync()
{
    var response = await Http.GetJsonAsync<Response>($"https://api.themoviedb.org/3/movie/top_rated?api_key={Settings.ApiKey}&language=en-US&page={page}");
    movies = response.results.ToList();
}

async void LoadMoreMovies()
{
    page++;
    var response = await Http.GetJsonAsync<Response>($"https://api.themoviedb.org/3/movie/top_rated?api_key={Settings.ApiKey}&language=en-US&page={page}");
    movies.AddRange(response.results);

    this.StateHasChanged();
}

class Response
{
    public int page { get; set; }
    public int total_pages { get; set; }
    public Movie[] results { get; set; }
}
}